
body {
    font-family: var(--paragraph-font);
    line-height: 1.6;
    background-color: var(--secondary-background);
}
:root {
    --primary-color: #ffffff;
    --secondary-background: #007F24;
    --nav-background: #005B96;
    --buttons-links: #FF8C00;
    --cards-background: #E0E0E0;;

    --heading-font: "Cinzel Decorative", serif;
    --paragraph-font: "Alegreya Sans", serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
}
.header-content{
    background-color: var(--secondary-background);
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 10px;
}
#menu {
    display: none;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .05rem .75rem;
}
#menu::before{
    display: none;
    content: "≡";
}
nav a {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.3s ease;
    display: block;
    text-align: left;
    padding-top: 20px;
}
.nav{   
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    color: var(--buttons-links);
    text-decoration: underline;
}
.nav.show {
    display: flex;
}
#menu.show::before {
	content: "X";
}
/* TRABAJANDO CON INDEX-SECTION1 */
.index-sectio1{
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
}
.header-index {
    position: relative; 
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}
.header-index picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
.header-index img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.index-sectio1 h1 {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 2;
    color: var(--primary-color);
    text-shadow: 2px 2px 5px rgba(7, 3, 3, 0.7);
    font-size: 3.3rem; 
}
.index-sectio1 p {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    z-index: 2;
    color: var(--primary-color);
    text-shadow: 2px 2px 5px rgba(63, 27, 27, 0.7);
    font-size: 1.3rem;
    margin-top: 10px; 
    max-width: 600px; 
    text-align: center; 
}
.section-body {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 70px;
    font-size: 1.3rem
}
.section-body h1{
    text-align: center;
    font-size: 2.1rem;
    margin: 30px;
    display: inline-block;
    opacity: 0;
    color: var(--primary-color);
}
.section-body p, .section-body ul li{
    text-align: justify;
    color: var(--primary-color);
    margin: 10px;
}
.section-body ul {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}
.section-body ul.show {
    opacity: 1;
    transform: translateY(0);
}
.list {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}
.list.show {
    opacity: 1;
    transform: translateY(0);
}
/* Estilos para el carrusel */
.tooltip-trips {
    display: flex;
    overflow: hidden;
    width: 100%;
}
.card {
    flex: 0 0 33.3333%; /* Cada card ocupará un tercio del contenedor */
    box-sizing: border-box;
    padding: 20px;
    transition: transform 1s ease;
    border: 1px solid #ccc;
    background-color: var(--cards-background);
    box-shadow: 1px 1px 5px #ccc;
}
.card img {
    width: 100%;
    height: 270px;
    display: block;
}
.card h3, .card p {
    text-align: center;
    font-size: 1rem;
    text-align: justify;
    font-weight: bold;
}
/* trabajadno con footer */
.nav-social-media {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    max-width: 200px;
}
footer {
    background-color: rgb(2, 71, 110);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.nav-social-media img {
    width: 30px; 
    height: auto; 
    object-fit: cover; 
}
.conteiner-social-media {
    display: flex;
    padding-right: 60px;
}
footer p {
    padding: 30px;
    display: flex;
    color: var(--primary-color)
}
.nav-social-media img {
    padding: 5px;
}
                    /* Working to About us*/
.header{
    text-align: center;
    font-size: 2.5rem;
}
#header-about-us h1{
    padding: 30px;
}
.team-card {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--primary-color);
    box-shadow: var(--cards-background); 
}
/* Estilos específicos para las tarjetas de la derecha */
.card-right {
    flex-direction: row-reverse; /* La imagen estará a la derecha */
    text-align: left; /* Aseguramos que el texto se alinee correctamente */
}
  
  /* Estilos para las tarjetas de la izquierda */
.card-left {
    flex-direction: row; /* La imagen estará a la izquierda */
    text-align: right; /* Alineamos el texto a la derecha */
}
.team-info.show-left h4{
    text-align: left;
}
.team-info h3, h4{
    color: var(--buttons-links);
    margin: 0;
}
.team-info h3{
    font-weight: bold;
    box-shadow: #000000;
}
.team-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    margin-bottom: 33px;
}
.team-info {
    max-width: 600px; /* Ajusta esto según tu diseño */
}
.team-card.right h3, h4{
    text-align: right;       
}
.team-card.right {
    flex-direction: row-reverse; /* Esto hará que el contenido fluya en dirección inversa */
}
.team-card.right img {
    margin-right: 0;
    margin-left: 20px; /* Espacio entre la imagen y el texto */
}
/* Para el texto de las tarjetas que viene desde la izquierda */
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  /* Para el texto que viene desde la derecha */
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .team-info {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  /* Clase que se aplicará cuando el texto entre en la vista */
  .show-left {
    animation: slideInLeft 0.5s forwards;
  }
  .show-right {
    animation: slideInRight 0.5s forwards;
}
/* Para el fade-in de las imágenes */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .team-card img {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .team-card img.fade-in {
    animation: fadeIn 1s forwards;
}
/* Working with TOURS.HTML */
.tours-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.tour-card {
    background-color: var(--cards-background);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}
.tour-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.tour-info {
    padding: 20px;
}
.tour-info h3 {
    font-size: 1.5rem;
    text-align: center;
}
.tour-info p {
    text-align: justify;
    font-weight: bold;
}
.tour-card:hover {
    transform: translateY(-10px);
}
.book-now-btn {
    background-color: var(--buttons-links);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.book-now-btn:hover {
    background-color: var(--secondary-background); 
}
/* FORMULARIO DE SECCION TOURS */
.formulario {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--cards-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 70px;
}
.formulario .header {
    font-size: 2rem;
    margin-bottom: 10px;
}
.formulario p {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: bold;
}
.formulario form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formulario label {
    text-align: left;
    font-weight: bold;
}
.formulario input[type="text"],
.formulario input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); 
}
.formulario button {
    padding: 10px 20px;
    background-color: var(--buttons-links);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.formulario button:hover {
    background-color: var(--secondary-background) 
}
/* TRABAJANDO CON RESERVATIONS */

.form-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 50px;
    gap: 25px;
}
.form-container form, .form-container .contact-info{
    width: 48%;
}
.form-container h1 {
    font-size: 2rem;
    color: var(--secondary-background);
    margin-bottom: 10px;
    text-align: center;
}
.form-container p {
    font-size: 1rem;
    color: var(--secondary-background);
    margin-bottom: 20px;
    text-align: center;
}
.reservation-form {
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.reservation-form p, h1{
    margin: 0;
    margin-bottom: 30px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}
.form-group label {
    font-weight: bold;
    color: var(--secondary-background);
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
.form-group input[type="radio"] {
    margin-right: 10px;
}
.form-group textarea {
    resize: vertical;
    height: 100px;
}
.button-submit {
    display: flex;
    justify-content: center;
}
.submit-button {
    padding: 10px 20px;
    background-color: var(--buttons-links);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-button:hover {
    background-color: var(--secondary-background);
}
/* Styles for radio button group */
.purpose-message .form-group {
    display: flex;
    flex-direction: column;
}
.purpose-message p {
    margin: 0;
}
.newsletter-subscription {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start; /* Alinea todo a la izquierda */
}
.newsletter-subscription label {
    font-weight: normal;
    color: var(--secondary-background);
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    height: 1000px;
}
.h2-contact {
    font-size: 2rem;
    color: var(--secondary-background);
    margin-bottom: 10px;
}
.contact-info address {
    font-style: normal;
    color: var(--secondary-background);
    text-align: center;
    margin-bottom: 20px;
}
.contact-info iframe {
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Estado inicial: oculto y desplazado */
.form-container .reservation-form,
.form-container .contact-info {
    opacity: 0;
    transform: translateX(-50px); /* desplazamiento hacia la izquierda */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* animación */
}

/* Estado visible: se muestra */
.form-container.visible .reservation-form,
.form-container.visible .contact-info {
    opacity: 1;
    transform: translateX(0); /* vuelve a la posición normal */
}
/* carousel conteiner */
.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 80%; /* Ajusta el ancho del contenedor */
    margin: 0 auto;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-control {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}

