 /*Fuente de encabezado*/
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
 /*Fuente de texto normal*/
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans&display=swap');
 @media screen and (max-width: 768px) {
    .principal-content {
        flex-direction: column; 
    }
    .nav {
        flex-direction: column;
        padding: 10px;
    }
    .main-content, .aside {
        margin: 10px;
        padding: 20px;
    }
}
body {
    font-family: var(--paragraph-font);
    line-height: 1.6;
}
:root {
    --primary-color: #ffffff;
    --secondary-color: #FCA311;

    --heading-font: "Abril Fatface", serif;
    --paragraph-font: "Alegreya Sans", serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
* {
	margin: 0;
	padding: 0;
}
.header-content {
    border-radius: 5px;
    border: solid 2px;
    background-color: #080000 ;
    color: #ffffff;
    display: flex;
    justify-content: center;  
    padding: 50px;
}
nav a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.nav {
    border: solid 2px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
nav a:hover {
    color: #FCA311; /* Changes the color on hover */
    text-decoration: underline; /* Adds an underline effect on hover */
  }
.principal-content {
    display: flex;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}
div h2 {
    background-color: black;
    border-radius: 4px;
    text-align: center;
}
.main-content {
    margin: 10px;
    padding: 40px;
    min-height: 300px;
    border-radius: 5px;
}
.card{
    display: flex;
}
.isaac-img {
    border-radius: 4px;
    margin: 20px;
    border: red solid;
    height: auto;
}
.isaac-img:hover {
    transform: scale(1.1);
    transition: 2s;
    border-radius: 5px;
}
p {
    margin: 40px;
}
hr {
    margin: 20px;
}
.peru-flag {
    border-radius: 4px;
    margin: 20px;
    border: red solid;
    height: auto;
}
.aside {
    border-radius: 4px;
    margin: 50px;
    padding: 40px;
    background-color: #FCA311;
}
.resources {
    padding: 20px;
}
.footer {
    background-color: darkslategray;
}
.nav-social-media {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    max-width: 200px;
}
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.nav-social-media img {
    width: 30px; 
    height: auto; 
    object-fit: cover; 
}
.conteiner-social-media {
    display: flex;
    padding-right: 60px;
}
footer p{
    display: flex;
    justify-content: center;
}  
.nav-social-media img {
    margin-top: -40px;
    padding: 5px;
}
@media screen and ( min-width: 640px ) {
    h1 {
        font-size: 2rem;
        margin: 1rem;
        color: navy;
    }
}