 /*Fuente de encabezado*/
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
 /*Fuente de texto normal*/
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans&display=swap');
body {
    font-family: var(--paragraph-font);
    line-height: 1.6;
}
:root {
    --primary-color: #ffffff;
    --secondary-color: #FCA311;

    --heading-font: "Abril Fatface", serif;
    --paragraph-font: "Alegreya Sans", serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
* {
	margin: 0;
	padding: 0;
}
.header-content {
    border-radius: 5px;
    border: solid 2px;
    background-color: darkslategrey;
    color: white;
    display: flex;
    justify-content: center;  
    padding: 50px;
}
nav a {
  text-decoration: none;
  color: white;
}
.nav {
    border: solid 2px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.principal-content {
    display: flex;
    grid-template-columns: 2fr 1fr;
    /* gap: 0px;  */
}
div h2 {
    background-color: black;
    border-radius: 4px;
}
.main-content {
    margin: 10px;
    padding: 40px;
    min-height: 300px;
    border-radius: 5px;
}
.grid{
    display: flex;
}
.isaac-img {
    border-radius: 4px;
    margin: 10px;
    border: red solid;
    height: auto;
}
p {
    margin: 40px;
}
.aside {
    border-radius: 4px;
    margin: 40px;
    padding: 50px;
    background-color: #FCA311;
}
.footer {
    background-color: darkslategray;
    display: flex;
    padding: 50px;
}