@media screen and (max-width: 768px) {
    .principal-content {
        flex-direction: column; 
    }
    .nav {
        flex-direction: column;
        padding: 10px;
    }
    .main-content, .aside {
        margin: 10px;
        padding: 20px;
    }
}
body {
    font-family: var(--paragraph-font);
    line-height: 1.6;
}
:root {
    --primary-color: #ffffff;
    --secondary-color: #FCA311;

    --heading-font: "Abril Fatface", serif;
    --paragraph-font: "Alegreya Sans", serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
* {
	margin: 0;
	padding: 0;
}
.header-content {
    border-radius: 5px;
    border: solid 2px;
    background-color: #201df0 ;
    color: #ffffff;
    display: flex;
    justify-content: center;  
    padding: 50px;
}
#responsive-header {
    color: black;   
    padding: 2rem;
    text-align: center;
}
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .05rem .75rem;
}
#menu::before{
    content: "≡";
}
nav a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  display: block;
  text-align: left;
}
.nav {
    border: solid 2px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    display: none; 
    background-color: black;
    padding: 20px;
}
nav a:hover {
    color: #FCA311; 
    text-decoration: underline; 
  }
.nav.show {
    display: flex;
}
#menu.show::before {
	content: "X";
}
figure {
    display: inline-block;
	margin: 10px;
	border: 1px solid #ccc;
	padding: 5px;
	background-color: #f8f8f8;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #ccc;
	text-align: center;
}

/* trabajando con el footer */
.nav-social-media {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    max-width: 200px;
}
footer {
    
    background-color: rgb(2, 71, 110);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.nav-social-media img {
    width: 30px; 
    height: auto; 
    object-fit: cover; 
}
.conteiner-social-media {
    display: flex;
    padding-right: 60px;
}
footer p {
    padding: 30px;
    display: flex;
    color: #ffffff;
}
.nav-social-media img {
    padding: 5px;
}
@media only screen and ( min-width: 40em ) {
    h1 {
        font-size: 2rem;
        margin: 1rem;
    }
    .nav{
        display: flex;
    }
    .nav a {
        display: block;
        flex: 1 1 100%;
    }
    #menu {
        display: none;
    }
}

